@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
    background-image: url(/img/light.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3 {
    word-wrap:break-word;
    font-family: 'Libre Baskerville', serif !important;
}

pre {
    white-space: pre-wrap;
}

.right {
    float: right;
}

.side-nav {
    padding: 0 !important;
}

.article-container {
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-family: 'Libre Baskerville', serif;
    padding-top: 8px;
}

.box {
    padding-top: 1.76em;
}

.no-padding {
    padding: 0 !important;
}

.neat-input {
    line-height: 30px;
    height: 30px !important;
    font-size: 0.8125em;
    font-weight: bold;
}

.row .row.topbar {
    margin-bottom: 8px;
/*
    border: 1px rgb(162, 215, 236) solid;
    border-radius: 5px;
    padding: 2px;
*/
}

.shaded {
    border-bottom: rgb(162, 215, 236) 1px dotted;
}

.item {
    padding-bottom: 8px;
    border-bottom: rgb(162, 215, 236) 1px dotted;
}

.unread { font-weight: bold; }

.item:hover, li.active {
    background-color: rgba(230,240,255,0.5);
}

.side-nav li a.delete { display: none; }
.side-nav li:hover a.delete { display:inline !important; float:right; }

#wrap {
    background: rgb(255,255,255);
    background: rgba(255,255,255, 0.75);
    padding: 2px 20px;
    box-shadow: rgb(162, 215, 236) 0px 0px 6px 2px;
}


#login-buttons {
    float: right;
}

.text-center #login-buttons {
    float: none;
}
