
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
    background-image: url(/img/light.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3 {
    word-wrap:break-word;
}

pre {
    white-space: pre-wrap;
}

.article-container {
    font-family: 'PT Serif', serif;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

#topbar {
    border: 1px rgb(162, 215, 236) solid;
    border-radius: 5px;
    padding: 2px;
}

.item {
    padding-bottom: 8px;
    border-bottom: rgb(162, 215, 236) 1px dotted;
}

.unread { font-weight: bold; }

.item:hover, li.active {
    background-color: rgba(230,240,255,0.5);
}

.side-nav li a.delete { display: none; }
.side-nav li:hover a.delete { display:inline !important; float:right; }

#wrap {
    background: rgb(255,255,255);
    background: rgba(255,255,255, 0.75);
    padding: 2px 20px;
    box-shadow: rgb(162, 215, 236) 0px 0px 6px 2px;
}